#menu-header {
  height: 34vw;
  margin: 30px auto;
  background: url('../../assets/image/menuTop.png') no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 24px;
}

.menu-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 43%;
  left: 6vw;
  animation: fadeIn 3s;
}

.menu-contents h2 {
  font-weight: 500;
  color: #fff;
  font-size: max(3.9vw, 22px);
  text-shadow: 4px 4px 4px #00000030;
}

.menu-contents p {
  text-align: justify;
  color: #fff;
  font-size: 1vw;
  text-shadow: 2px 2px 2px #00000030;
}

.menu-contents button {
  border: none;
  border-radius: 50px;
  color: var(--gray);
  font-weight: 500;
  font-size: max(1vw, 13px);
  padding: 1vw 2.3vw;
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 1050px) {
  #menu-header {
    height: 40vw;
  }

  .menu-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  #menu-header {
    border-radius: 16px;
  }
  .menu-contents {
    max-width: 65%;
  }
  .menu-contents p {
    display: none;
  }
  .menu-contents button {
    padding: 2vw 4vw;
  }
}

@media (max-width: 600px) {
  .menu-contents {
    max-width: 85%;
  }
  .menu-contents p {
    display: none;
  }
  .menu-contents button {
    padding: 2vw 3.5vw;
  }
}
